* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster", cursive;
}

.main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f8ff;
}

.content {
  display: flex;
  flex-direction: column;
  height: 50vh;
  margin: 10px;
}
.description {
  display: flex;
  align-items: center;
  margin: 2rem;
  font-family: "PT Sans", sans-serif;
}
.input-container {
  position: relative;
  display: inline-block;
}

.wide-input {
  padding: 10px;
  width: 450px;
  border-radius: 50px;
}

.input-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 12px;
  background-color: #ff9df5;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.input-button:hover {
  background-color: #ff9df5;
}

.result {
  width: 500px;
  height: 4rem;
  background-color: #ff9df5;
  margin-top: 2rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.FaCopy {
  /* color: #ffffff; */
  font-size: 1.5rem;
  margin-left: 90%;
  /* z-index: 1; */
}
